.error {
  min-height: 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
  display: block;
}

@media screen and (max-width: 767px) {
  .error {
    max-width: 260px;
    margin: 0 auto 0;
    font-size: 10px;
    line-height: 10px;
  }
}
